[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"

[dev-packages]
django-thumbor = {editable = true, path = "."}
bumpversion = "*"
coverage = "*"
mock = "*"

[requires]
python_version = "3.10"

[scripts]
test = "make test"
coverage-test = "./manage.py test --with-coverage"
